.container {
    margin: 8px;
    max-width: 500px;
}

.container fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container legend {
    padding: 0px 8px;
}

.container h2{
    margin: 0;
}

.container fieldset > div {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.container input {
    font-size: 16px;
    padding: 8px;
    width: 100%;
}

/* check if following two selectors are not working outside this component */
/* [id = title-input] {
    width: 100%;
    font-size: 16px;
    padding: 8px;
} */

[id = body-input] {
    padding: 8px;
    height: 200px;
    font-size: 16px;
}

#create, .container button {
    padding: 8px 16px;
    width: 100px;
    align-self: center;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

#create {
    width: 150px;
    margin-top: 16px;
    margin-left: 16px;
}

#submit {
    background-color: rgb(44, 195, 44);
}

#cancel {
    background-color: rgb(219, 72, 72);
}