.container {
    box-sizing: border-box;
    background-color: var(--hover-color);
    color: var(--text-color);
    margin: 0 0.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    min-height: 10px;
    animation: appears 0.2s ease forwards;
}

/* check animation later */
@keyframes appears {
    from {
        min-height: 1px;
        padding: 0 1rem;
    } to {
        min-height: 100px;
        padding: 1 1rem;
    }
}