.container {
    margin: 16px;
    border: 3px solid black;
    border-radius: 8px;
    /* height: 100px; */
}

.container > h3 {
    margin: 0;
    padding: 0px 8px;
    background-color: black;
    color: white;
}

.container > p {
    margin-top: 8px;
    padding: 0px 8px;
}

.tag {
    margin: 16px;
    margin-right: 32px;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    flex-wrap: wrap;
}