.container {
    box-sizing: border-box;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    position: relative;
}

.collection {
    box-sizing: border-box;
    /* padding: 0 64px; */
    /* outline: 1px solid red; */
}

.collection > section {
    box-sizing: border-box;
    /* margin: 16px 0; */
    /* margin: 16px; */
}