.header {
    display: flex;
}

.header:first-child > h2 {
    margin-right: auto;
}

.header h2 {
    display: flex;
    gap: 32px;
}

.header button {
    background-color: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.inactive-btn {
    color: #00000060;
}

.active-btn {
    background-color: green;
    position: relative;
    color: #000000;
}

.active-btn:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 10%;
    background: green;
    animation: underline 0.2s ease forwards;
}

.pinned-notes {
    display: flex;
    height: 400px;
    gap: 16px;
}

.pinned-notes > div {
    border-radius: 8px;
    background-color: white;
    flex: 1;
    padding: 8px;
}

@keyframes underline {
    from {
        width: 10%;
    } to {
        width: 80%;
    }
}