.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.title {
    background-color: black;
    color: white;
    grid-column: span 2;
}

.add {
    display: flex;
    flex-direction: column;
}

.add > input {
    flex: 1;
}