.hidden {
    box-sizing: border-box;
    background-color: grey;
    max-width: 50px;
    height: 100vh;
    position: relative;
}

.hidden h1 {
    visibility: hidden;
}

.container {
    box-sizing: border-box;
    background-color: grey;
    min-width: 300px;
    height: 100vh;
    position: relative;
}

.container h1 {
    font-size: 32px;
    text-align: center;
    font-weight: 800;
}

.btn {
    position: absolute;
    margin-top: 32px;
    right: -40px;
    /* bottom: 100px; */
    top: 0px;
    width: 80px;
    height: 80px;
    font-size: 72px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 99, 34);
    color: white;
}