.desktop {
    display: flex;
    background-color: green;
}

.desktop > div {
    width: 100%;
}

.mobile {
    width: 100%;
}

.workspace {
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}