.container {
    box-sizing: border-box;
    /* padding: 8px 32px; */
    padding: 0 4px;
    height: 24px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(48, 47, 47, 0.899);
    color: white;
    cursor: pointer;
    /* min-height: 80px; */
}

.container.active {
    background-color: green;
}

.cancel {
    position: absolute;
    right: 16px;
}

/* .container {
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    color: white;
    position: relative;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid black;
    position: absolute;
    right: -20px;
    top: 0px;
}

.cancel {
    visibility: hidden;
    font-size: 20px;
    margin: 0 8px;
}

.text {
    display: flex;
    align-items: center;
}

.container:hover {
    background-color: rgb(70, 70, 70);
}

.container:hover .arrow {
    border-left: 20px solid rgb(70, 70, 70);
}

.container:hover .text .cancel {
    visibility: visible;
} */