.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 320px 320px;
    grid-auto-flow: dense;
}

.container > div {
    text-align: center;
    background-color: transparent;
    color: black;
    padding: 8px;
    border-radius: 8px;
}

.container > div:hover {
    background-color: rgb(73, 99, 99);
}

.inner {
    box-sizing: border-box;
    background-color: cadetblue;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    text-align: center;
}

.inner h2 {
    margin: 0;
    padding: 0;
}

.three-column {
    background-color: green;
    color: wheat;
    grid-column: span 3;
}

.two-column {
    background-color: blue;
    color: wheat;
    grid-column: span 2;
}

.one {
    background-color: coral;
    color: black;
    grid-column: span 1;
}

.three-row {
    background-color: green;
    color: wheat;
    grid-row: span 3;
}

.two-row {
    background-color: blue;
    color: wheat;
    grid-row: span 2;
}