.container {
    box-sizing: border-box;
    height: 240px;
    width: 280px;
    margin: 16px;
    padding: 16px;
    background-color: var(--dark-700);
    border-radius: 16px;
    outline: 1px solid red;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.loading > div {
    height: 100%;
}

.loading > div > div {
    height: 100px;
    width: 100px;
}