.container {
    /* background-color: green; */
    min-height: 56px;
    border-radius: 28px 0 0 28px;
    margin-left: 1.5rem;
    padding-left: 28px;
}

.container:hover {
    background-color: var(--dark-800);
}

.container a {
    text-decoration: none;
    color: var(--text-color);
}

.container .title {
    color: var(--dark-500);
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.container.active {
    background-color: var(--dark-800);
    margin: 0 0.5rem;
    padding-left: 0;
    border-radius: 8px;
    padding-bottom: 1rem; 
}

.container.active .title {
    background-color: var(--dark-900);
    box-sizing: border-box;
    height: 56px;
    display: flex;
    align-items: center;
    margin-right: -0.5rem;
    margin-left: 1rem;
    padding-left: 28px;
    border-radius: 28px 0 0 28px;
}

.container.active .notes {
    max-height: 0px;
    overflow-y: scroll;
    scrollbar-width: none;
    animation: notes 0.2s ease-in forwards;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container.active .notes a:last-child div {
    margin-bottom: 0;
}

@keyframes notes {
    from {
        max-height: 0px;
    } to {
        max-height: 320px;
    }
}

.notes input {
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    border-radius: 0 18px 18px 0;
    border: none;
    background-color: rgb(116, 116, 116);
    font-size: 1rem;
    color: white;
}

.notes input:focus {
    outline: none;
}

.notes div {
    box-sizing: border-box;
    height: 36px;
    background-color: rgb(116, 116, 116);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 18px 18px 0;
    margin-left: rem;
    padding-right: 1rem;
}