a.active > div {
    background-color: var(--active-color);
    color: var(--text-color);
}

.title {
    display: flex;
    justify-content: space-between;
}

/* .active {
    border: 1px solid red;
} */