.container {
    margin: 0;
    padding-top: 1rem;
    background-color: rgb(27, 12, 68);
    height: minmax(100vh, 100%);
    min-width: 240px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container > a {
    text-decoration: none;
}

.container > a > h2 {
    color: white;
    padding: 0;
    margin: 0;
    /* margin-bottom: 1rem; */
}

.container > input, .container > div > input {
    box-sizing: border-box;
    height: 56px;
    border-radius: 28px 0 0 28px;
    border: none;
    background-color: var(--hover-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    margin-left: 1.5rem;
    padding-right: 2rem;
    /* margin-bottom: 1.5rem; */
}

/* .container > [id = search-input] {
    margin-bottom: 1.5rem;
} */

.container > input:focus, .container > div > input:focus  {
    outline: none;
}

.create {
    box-sizing: border-box;
    border: 2px solid red;
    height: 48px;
    margin: 16px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    cursor: pointer;
}

.create:hover {
    background-color: rgb(78, 24, 129);
}